@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: #FFFF;
    --foreground: #0F051D;

    --primary: #2600FC;
    --secondary: #FF00FF;

    --muted: #B7B4BB

  }

  .dark {
    --background: #1B1128;
    --foreground: #FFFF;

    --muted: #7B7583
  }
}

@layer base {
  * {
    @apply border-muted;
  }

  body {
    @apply bg-background text-foreground antialiased font-primary dark;
  }
}